/* Colour Pallet */
/* 
Night black: #121216
Raisin black (lighter black): #2e2e38
Cool gray: #9a9aac
Dark red: #870808
Sunset: #ffc685
Anti-flash white: #f1f1f1
Timberwolf (darker off-white): #d6d6d6
*/

/* Google fonts */
/* Averia Serif Libre */ @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Poppins */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.border-text {
    color: #121216; /* Text color */
    font-size: 50px; /* Size of the text */
    
    text-shadow: 
        -1px -1px 0 #d6d6d6,  
         1px -1px 0 #d6d6d6,
        -1px  1px 0 #d6d6d6,
         1px  1px 0 #d6d6d6; /* Shadow effect simulating a black border */
}