/* Colour Pallet 2.0 */
/*
Verdigris: ##379EA4
Verdigris dark accent: #0F2C2E
Verdigris light accent: #B3E3E6
Engineering orange: #BD2A12
Engineering orange dark accent: #380C05
Engineering orange light accent: #FACEC7
Night: #121216
Platinum: #E0E0E0
*/

/* Google fonts */
/* Averia Serif Libre */ @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Poppins */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Navbar */

nav {
    font-family: 'Averia Serif Libre', sans-serif;
    background-color: #0F2C2E; 
}

nav, #nav-engineering-orange {
    color: #BD2A12;
    text-shadow: 
        -1px -1px 0 #380C05,  
         1px -1px 0 #380C05,
        -1px  1px 0 #380C05,
         1px  1px 0 #380C05;
}

nav, #nav-engineering-orange:hover {
    color: #BD2A12;
    text-shadow: 
        -1px -1px 0 #FACEC7,  
         1px -1px 0 #FACEC7,
        -1px  1px 0 #FACEC7,
         1px  1px 0 #FACEC7;
}

.navbar-toggler {
    border: 4px solid #BD2A12;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28189, 24, 18, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: #FACEC7;
}

.active {
    text-decoration: underline;
}

.border-text {
    color: #E0E0E0; /* Text color */
    font-size: 50px; /* Size of the text */
    
    text-shadow: 
        -1px -1px 0 #121216,  
         1px -1px 0 #121216,
        -1px  1px 0 #121216,
         1px  1px 0 #121216; /* Shadow effect simulating a black border */
}

/* Footer Styles */

.footer-border-text {
    color: #E0E0E0; /* Text color */
    font-size: 50px; /* Size of the text */
    text-shadow: 
        -1px -1px 0 #121216,  
         1px -1px 0 #121216,
        -1px  1px 0 #121216,
         1px  1px 0 #121216; /* Shadow effect simulating a black border */
}

.footer-text-border-nav {
    color: #BD2A12; /* Text color */
    text-shadow: 
        -1px -1px 0 #FACEC7,  
         1px -1px 0 #FACEC7,
        -1px  1px 0 #FACEC7,
         1px  1px 0 #FACEC7; /* Shadow effect simulating a black border */
}

.text-shadow {
    text-shadow: 
        -1px -1px 0 #121216,  
         1px -1px 0 #121216,
        -1px  1px 0 #121216,
         1px  1px 0 #121216; /* Shadow effect simulating a black border */
}

.footer-background {
    background-color: #0F2C2E;
}

.footer-font {
    font-family: "Averia Serif Libre", sans-serif;
}

.footer-font-secondary {
    font-family: "Averia Serif Libre", sans-serif;
    color: #E0E0E0;
}

.fa-brands {
    color: #BD2A12;
}

.fa-solid {
    color: #B3E3E6;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #BD2A12;
    background-color: hsla(0, 100%, 50%, 0.5);
}

.footer-nav {
    list-style-type: none;
}

.footer-nav-link {
    color: #BD2A12;
}

.footer-nav-link:hover {
    color: #B3E3E6;
}