/* Colour Pallet 2.0 */
/*
Verdigris: ##379EA4
Verdigris dark accent: #0F2C2E
Verdigris light accent: #B3E3E6
Engineering orange: #BD2A12
Engineering orange dark accent: #380C05
Engineering orange light accent: #FACEC7
Night: #121216
Platinum: #E0E0E0
*/

/* Google fonts */
/* Averia Serif Libre */ @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* Poppins */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.border-text {
    color: rgb(14, 14, 14); /* Text color */
    font-size: 50px; /* Size of the text */
    
    text-shadow: 
        -1px -1px 0 #fafafa,  
         1px -1px 0 #fafafa,
        -1px  1px 0 #fafafa,
         1px  1px 0 #fafafa; /* Shadow effect simulating a black border */
}